/* VARIABLES - COLORS */
:root {
    --color-primary: #ff7b54;
    --color-secondary: #ffffff;
    --color-text-on-primary: #ffffff;
    --color-text-on-secondary: #ff7b54;
    --font-family: "Inter", sans-serif;
  }

  /* GENERAL STYLES */
body {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  font-family: var(--font-family), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

  
/* BORDER BOX MODEL */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* HEADER STYLES */
header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart"; 
  align-items: center;
  padding: 0 60px;
}

header > a {
  font-size: 40px;
  font-weight: bold;
}

header img {
  grid-area: shopping-cart;
}

nav {
  display: inline-block;
  justify-self: end;
}

nav > ul {
  list-style: none;
  display: flex;
}

nav > ul li {
  margin-inline-end: 36px; 
  font-size: 20px;
}