@import './base.css';

/* MAIN FORM STYLES */
.main {
    padding: 50px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

/* HEADINGS */
.main__heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-text-on-secondary);
}

.main__sub-heading {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    color: var(--color-text-on-secondary);
}

/* FORM CONTAINER */
/* TODO: Box-shadow not appearing */
.form-container {
    background: var(--color-secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0.11); 
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* LABELS */
.form__label {
    text-align: left;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

/* INPUT FIELDS */
.form__input {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: var(--color-secondary);
    color: #333;
    transition: border 0.75s ease;
}

.form__input:focus {
    border-color: var(--color-primary);
    outline: none;
}

/* CHECKBOX GROUP */
.form__checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* CHECKBOXES */
.form__checkbox {
    width: 18px;
    height: 18px;
    accent-color: var(--color-primary);
}

.form__checkbox-label {
    font-size: 14px;
    color: #333
}

/* SUBMIT BUTTON */
.form__submit {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 1s ease;
}

.form__submit:hover,
.form__submit:focus {
    background-color: rgba(255,255,255,0.9);
    color: var(--color-primary);
}

/* RESPONSIVE DESIGN */
@media (width < 800px) {
    .main {
        padding: 75px;
    }
}

@media (width < 700px) {
    .form__submit {
        font-size: 16px;
        padding: 10px;
    }
}